################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyTextReplacerSolution/v16/.suo
/MyTextReplacer/obj/.*
/MyTextReplacer/bin/.*
/.vs
/MyTextReplacer/bin/Debug/netcoreapp3.1
/MyTextReplacer/obj/Debug/netcoreapp3.1
*.user
*.json
*.props
*.targets
*.cache
